
Recorder/bin/Debug/DR\.Login\.Client\.Core\.dll

Recorder/bin/Debug/Newtonsoft\.Json\.dll

*.exe

*.bin

Recorder/bin/

Recorder/obj/
/Recorder/bin/Debug/Newtonsoft.Json.dll
/Recorder/bin/Debug/NLog.dll
/Recorder/bin/Debug/NPlot.dll
/Recorder/bin/Debug/Recorder.exe
/Recorder/bin/Debug/Recorder.exe.config
/Recorder/bin/Debug/Recorder.pdb
/Recorder/bin/Debug/sim_spectrum.exe
/Recorder/bin/Debug/spectrum
/Recorder/bin/Debug/test1.png
/Recorder/bin/Debug/uri.dat
/Recorder/bin/Debug/ZedGraph.dll
/Recorder/bin/Debug/data.bin
/Recorder/bin/Debug/DR.Login.Client.Core.dll
/*.userprefs
