<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog> <!--throwExceptions="true">-->
		<variable name="Layout" value="${longdate} ${level:upperCase=true} ${message} (${callsite:includSourcePath=true})"/>
		<targets async="true">
			<target name="console" type="Console" layout="${message}" />
			<target name="debugger" type="Debugger" layout="${Layout}"/>
			<target name="file" type="File" layout="${Layout}" fileName="/home/x300/recorder-${shortdate}.log" />
		</targets>
		<rules>
			<!--<logger name="*" minlevel="Debug" writeTo="debugger" />
			<logger name="*" minlevel="Info" writeTo="console" />-->
			<logger name="*" minlevel="Debug" writeTo="file,console,debugger" />
		</rules>
	</nlog>
	<appSettings>
    	<add key="Spectrum" value="/home/x300/spectrum" />
	</appSettings>
</configuration>
